<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Punk API - Documentation</title>
  <meta name="description" content="Brewdog's DIY Dog as a searchable, filterable API">
  <meta name="viewport" content="width=device-width">

  <meta property="og:url" content="https://punkapi.com">
  <meta property="og:title" content="Punk API: Brewdog's DIY Dog as an API">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:domain" content="punkapi.com">
  <meta name="twitter:title" content="Punk API: Brewdog's DIY Dog as an API">

  <link rel="stylesheet" href="/styles.min.css">

  <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');

    _gs('GSN-191408-K');
  </script>
</head>
<body class="avenir">
  <div class="banner pv2 white tc lh-copy">
    <p class="mv0">Version 2 is now live! Faster & smarter filters! See docs for how to use!</p>
  </div>

  <header class="center f5 measure-wide lh-copy mb5-ns ph0-ns ph3">
    <h1 class="f-subheadline lh-solid ttu tc code relative mb5-ns mb4">
      <div class="bottle absolute-ns">
        <div class="bottle-face">
          <svg viewBox="0 0 220 860" xmlns="http://www.w3.org/2000/svg" class="logo">
            <g fill="none" fill-rule="evenodd">
              <path d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z" fill="#333"></path>
              <path fill="#00AFDB" d="M20 440h180v340H20zM60 0h100v20H60z" class="logo__label"></path>
            </g>
          </svg>
        </div>

        <div class="bottle-face">
          <svg viewBox="0 0 220 860" xmlns="http://www.w3.org/2000/svg" class="logo">
            <g fill="none" fill-rule="evenodd">
              <path d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z" fill="#333"></path>
              <path fill="#00AFDB" d="M20 440h180v340H20zM60 0h100v20H60z" class="logo__label"></path>
            </g>
          </svg>
        </div>

        <div class="bottle-face">
          <svg viewBox="0 0 220 860" xmlns="http://www.w3.org/2000/svg" class="logo">
            <g fill="none" fill-rule="evenodd">
              <path d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z" fill="#333"></path>
              <path fill="#00AFDB" d="M20 440h180v340H20zM60 0h100v20H60z" class="logo__label"></path>
            </g>
          </svg>
        </div>

        <div class="bottle-face">
          <svg viewBox="0 0 220 860" xmlns="http://www.w3.org/2000/svg" class="logo">
            <g fill="none" fill-rule="evenodd">
              <path d="M20 340h180v100H20V340zm20-160h140v160H40V180zM60 20h100v160H60V20zm140 360h20v460h-20V380zM0 380h20v460H0V380zm20 400h180v80H20v-80z" fill="#333"></path>
              <path fill="#00AFDB" d="M20 440h180v340H20zM60 0h100v20H60z" class="logo__label"></path>
            </g>
          </svg>
        </div>
      </div>
      <a href="/" class="black no-underline">
        Punk API<span class="f5 f3-ns">V2</span>
      </a>
    </h1>
  </header>

  <nav class="tc mb5-ns mb4 measure-wide center flex flex-column flex-row-ns justify-around">
    <a href="/documentation/v1" class="f3 black mb3 mb0-ns">V1 Documentation</a>
    <a href="/documentation/v2" class="f3 black">V2 Documentation</a>
  </nav>

  <section class="center f5 measure-wide lh-copy mb4 ph0-ns ph3 pb4 bb b--light-silver">
    <h2 class="code f3 mv2">Root Endpoint</h2>
    <p class="mt0">The root endpoint should prefix all resources and is only accessible over HTTPS. CORS is also enabled.</p>
    <code class="code f6 db pa2 bg-black-70 white br2 ww-break ww-normal-ns">
      https://api.punkapi.com/v2/
    </code>
  </section>

  <section class="center f5 measure-wide lh-copy mb4 ph0-ns ph3 pb4 bb b--light-silver">
    <h2 class="code f3 mb2 mt0">Authentication</h2>
    <p class="mt0">In V2 I decided to remove authentication and instead rely on rate limits from IP addresses, see section below for more details. </p>
  </section>

  <section class="center f5 measure-wide lh-copy mb4 ph0-ns ph3 pb4 bb b--light-silver">
    <h2 class="code f3 mb2 mt0">Rate Limits</h2>
    <p class="mt0">To make sure everyone can access the API reliably, each IP that makes a request has a rate limit of 3600 requests per hour.</p>
    <p>This works out at <strong>1 req/sec</strong>. This is an initial figure, if the servers hold up I will definitely consider bumping this number.</p>
    <p>You can see what the rate limit is and how many requests are remaining by looking at the rate limit headers sent in the response.</p>
    <code class="code f6 pa2 db bg-black-70 white br2 ww-break ww-normal-ns">
      x-ratelimit-limit: 3600 <br>
      x-ratelimit-remaining: 3587
    </code>
  </section>

  <section class="mw7 center f5 measure-wide lh-copy mb4 ph0-ns ph3 pb4 bb b--light-silver">
    <h2 class="code f3 mb2 mt0">Parameters</h2>
    <p class="mt0">All parameters are optional and without them the API will just return the beers in ascending order from their ID. Parameters are passed in as a query string and can be chained together.</p>

    <p>If a parameter is passed without a value it will return a 400 error.</p>
    <code class="code f6 pa2 db bg-black-70 white br2 ww-break ww-normal-ns">
      $ curl https://api.punkapi.com/v2/beers?brewed_before=11-2012&abv_gt=6
    </code>
  </section>

  <section class="mw7 center f5 measure-wide lh-copy mb4 ph0-ns ph3 pb4 bb b--light-silver">
    <h2 class="code f3 mb2 mt0">Pagination</h2>
    <p class="mt0">Requests that return multiple items will be limited to 25 results by default. You can access other pages using the <code class="code f6 dib pa1 bg-black-70 white br2">?page</code> paramater, you can also increase the amount of beers returned in each request by changing the <code class="code f6 dib pa1 bg-black-70 white br2">?per_page</code> paramater.</p>
    <code class="code f6 db pa2 bg-black-70 white br2 ww-break ww-normal-ns">
      $ curl https://api.punkapi.com/v2/beers?page=2&per_page=80
    </code>
  </section>

  <section class="f5 lh-copy mb4 ph0-ns ph3">
    <div class="measure-wide mw7 center">
      <h2 class="code f3 mb2 mt0">Get Beers</h2>
      <p class="mt0">Gets beers from the api, you can apply several filters using url paramaters, the available options are listed below.</p>
      <code class="code f6 db pa2 bg-black-70 white br2 ww-break ww-normal-ns">
        $ curl https://api.punkapi.com/v2/beers
      </code>
    </div>

    <table class="collapse w-100 ba b--light-silver mt4 mw7 center f6">
      <thead>
        <td class="ttu pa2 br bb b--light-silver bg-light-gray">Param</td>
        <td class="ttu pa2 br bb b--light-silver bg-light-gray">Type</td>
        <td class="ttu pa2 bb b--light-silver bg-light-gray">Details</td>
      </thead>
      <tbody>
        <tr>
          <td class="pa2 br bb b--light-silver">abv_gt</td>
          <td class="pa2 br bb b--light-silver">number</td>
          <td class="pa2 bb b--light-silver">Returns all beers with ABV greater than the supplied number</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">abv_lt</td>
          <td class="pa2 br bb b--light-silver">number</td>
          <td class="pa2 bb b--light-silver">Returns all beers with ABV less than the supplied number</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">ibu_gt</td>
          <td class="pa2 br bb b--light-silver">number</td>
          <td class="pa2 bb b--light-silver">Returns all beers with IBU greater than the supplied number</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">ibu_lt</td>
          <td class="pa2 br bb b--light-silver">number</td>
          <td class="pa2 bb b--light-silver">Returns all beers with IBU less than the supplied number</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">ebc_gt</td>
          <td class="pa2 br bb b--light-silver">number</td>
          <td class="pa2 bb b--light-silver">Returns all beers with EBC greater than the supplied number</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">ebc_lt</td>
          <td class="pa2 br bb b--light-silver">number</td>
          <td class="pa2 bb b--light-silver">Returns all beers with EBC less than the supplied number</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">beer_name</td>
          <td class="pa2 br bb b--light-silver">string</td>
          <td class="pa2 bb b--light-silver">Returns all beers matching the supplied name (this will match partial strings as well so e.g punk will return Punk IPA), if you need to add spaces just add an underscore (_).</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">yeast</td>
          <td class="pa2 br bb b--light-silver">string</td>
          <td class="pa2 bb b--light-silver">Returns all beers matching the supplied yeast name, this performs a fuzzy match, if you need to add spaces just add an underscore (_).</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">brewed_before</td>
          <td class="pa2 br bb b--light-silver">date</td>
          <td class="pa2 bb b--light-silver">Returns all beers brewed before this date, the date format is mm-yyyy e.g 10-2011</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">brewed_after</td>
          <td class="pa2 br bb b--light-silver">date</td>
          <td class="pa2 bb b--light-silver">Returns all beers brewed after this date, the date format is mm-yyyy e.g 10-2011</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">hops</td>
          <td class="pa2 br bb b--light-silver">string</td>
          <td class="pa2 bb b--light-silver">Returns all beers matching the supplied hops name, this performs a fuzzy match, if you need to add spaces just add an underscore (_).</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">malt</td>
          <td class="pa2 br bb b--light-silver">string</td>
          <td class="pa2 bb b--light-silver">Returns all beers matching the supplied malt name, this performs a fuzzy match, if you need to add spaces just add an underscore (_).</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">food</td>
          <td class="pa2 br bb b--light-silver">string</td>
          <td class="pa2 bb b--light-silver">Returns all beers matching the supplied food string, this performs a fuzzy match, if you need to add spaces just add an underscore (_).</td>
        </tr>

        <tr>
          <td class="pa2 br bb b--light-silver">ids</td>
          <td class="pa2 br bb b--light-silver">string (id|id|...)</td>
          <td class="pa2 bb b--light-silver">Returns all beers matching the supplied ID's. You can pass in multiple ID's by separating them with a | symbol.</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="measure-wide center mb4 ph0-ns ph3 pt4 bt b--light-silver">
    <h2 class="code f3 mb2 mt0">Get a Single Beer</h2>
    <p class="mt0">Gets a beer from the api using the beers id.</p>

    <code class="code f6 db pa2 bg-black-70 white br2 ww-break ww-normal-ns">
      $ curl https://api.punkapi.com/v2/beers/1
    </code>
  </section>

  <section class="measure-wide center ph0-ns ph3 pt4 mb4 bt b--light-silver">
    <h2 class="code f3 mb2 mt0">Get Random Beer</h2>
    <p class="mt0">Gets a random beer from the API, this takes no paramaters.</p>

    <code class="code f6 db pa2 bg-black-70 white br2 ww-break ww-normal-ns">
      $ curl https://api.punkapi.com/v2/beers/random
    </code>
  </section>

  <section class="measure-wide mw7 center ph0-ns ph3 pt4 mb4 bt b--light-silver">
    <h2 class="code f3 mb2 mt0">Example Response</h2>
    <p class="mt0">All beer endpoints return a json array with a number of beer objects inside.</p>

    <code>
      <pre class="code f6 db pa2 bg-black-70 white br2 ws-prewrap ww-break ww-normal-ns">
[
  {
    "id": 192,
    "name": "Punk IPA 2007 - 2010",
    "tagline": "Post Modern Classic. Spiky. Tropical. Hoppy.",
    "first_brewed": "04/2007",
    "description": "Our flagship beer that kick started the craft beer revolution. This is James and Martin's original take on an American IPA, subverted with punchy New Zealand hops. Layered with new world hops to create an all-out riot of grapefruit, pineapple and lychee before a spiky, mouth-puckering bitter finish.",
    "image_url": "https://images.punkapi.com/v2/192.png",
    "abv": 6.0,
    "ibu": 60.0,
    "target_fg": 1010.0,
    "target_og": 1056.0,
    "ebc": 17.0,
    "srm": 8.5,
    "ph": 4.4,
    "attenuation_level": 82.14,
    "volume": {
      "value": 20,
      "unit": "liters"
    },
    "boil_volume": {
      "value": 25,
      "unit": "liters"
    },
    "method": {
      "mash_temp": [
        {
          "temp": {
            "value": 65,
            "unit": "celsius"
          },
          "duration": 75
        }
      ],
      "fermentation": {
        "temp": {
          "value": 19.0,
          "unit": "celsius"
        }
      },
      "twist": null
    },
    "ingredients": {
      "malt": [
        {
          "name": "Extra Pale",
          "amount": {
            "value": 5.3,
            "unit": "kilograms"
          }
        }
      ],
      "hops": [
        {
          "name": "Ahtanum",
          "amount": {
            "value": 17.5,
            "unit": "grams"
           },
           "add": "start",
           "attribute": "bitter"
         },
         {
           "name": "Chinook",
           "amount": {
             "value": 15,
             "unit": "grams"
           },
           "add": "start",
           "attribute": "bitter"
         },
         ...
      ],
      "yeast": "Wyeast 1056 - American Ale™"
    },
    "food_pairing": [
      "Spicy carne asada with a pico de gallo sauce",
      "Shredded chicken tacos with a mango chilli lime salsa",
      "Cheesecake with a passion fruit swirl sauce"
    ],
    "brewers_tips": "While it may surprise you, this version of Punk IPA isn't dry hopped but still packs a punch! To make the best of the aroma hops make sure they are fully submerged and add them just before knock out for an intense hop hit.",
    "contributed_by": "Sam Mason &lt;samjbmason&gt;"
  }
]
      </pre>
    </code>
  </section>

  <footer class="mw7 center f6 tc ph0-ns ph3">
    <p>Made by <a class="link black underline" href="https://twitter.com/samjbmason">@samjbmason</a> & help from a whole load of <a class="link black underline" href="https://github.com/samjbmason/punkapi-db/graphs/contributors">others</a></p>
  </footer>
</body>
</html>
